
# 忽略图像处理类下的临时文件
ColorCodeDetector/__pycache__
ColorCodeDetector/testjson


# drawio相关

.$程序运行框图.drawio.bkp
.$程序运行框图.drawio.dtmp
# 忽略以 .$ 开始、以 .drawio.bkp 结尾的文件
*.$.drawio.bkp
.$*.drawio.bkp
.$*.drawio.dtmp

# 视频服务器
Application/txt

# 代码临时文件
app/txt
app/__pycache__


out
tmp




